<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Run all tests" verbose="1">

    <test name="Test 1">
        <classes>
            <class name="BaseTest"/>
            <class name="CheckAlertMessage"/>
            <class name="CheckBrandsList"/>
            <class name="CheckCameras"/>
            <class name="CheckDekstopsAll"/>
            <class name="CheckDesktopsSortedPrice"/>
            <class name="CheckPriceIphone"/>
            <class name="ProductsTestCameras"/>
        </classes>
    </test>
</suite>